<ion-header>

  <ion-navbar>
    <ion-title>LOGIN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-list>

      <ion-item padding>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty" no-lines>
        <p>Please enter a valid email.</p>
      </ion-item>

      <ion-item padding>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty" no-lines>
        <p>Your password needs more than 6 characters.</p>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block type="submit" [disabled]="!loginForm.valid">LOGIN</button>
      </div>

    </ion-list>
  </form>
</ion-content>